:root{
    --almost-black: #080808;
    --dark-gray: #2B2B2B;
    --mid-gray: #555555;
    --mid-light: #AAAAAA;
    --mid-lighter: #DDDDDD;
    --very-light: #EEEEEE;
    --almost-white: #F9F9F9;
    --accent-yellow: #F1DD28;
    --accent-indigo: #2522B5;
    
    /* kolory cieni i przezroczystosci - z kanalem alpha */
    --dark-gray-shadow: #2B2B2B55;
    --almost-white-opacity: #F9F9F977;

    /* maksymalna szerokosc wycentrowanych elementow na stronie */
    --max-page-width: 1200px;

    /* odstep miedzy sekcjami staly? */
    --section-margin: 30px;
}

.unified-shadow{
    /* box-shadow: 0px 2px 4px 1px var(--dark-gray-shadow); */
    box-shadow: 0px 2px 12px var(--dark-gray-shadow);
}

.hover:hover{
    filter: brightness(0.5);
    cursor: pointer;
}

.hover-underline:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.section-separator{
  margin-bottom: var(--section-margin);
}

/* Scrollbar styles */

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--mid-lighter);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-gray);
  }

