:root{
    --almost-black: #080808;
    --dark-gray: #2B2B2B;
    --mid-gray: #555555;
    --mid-light: #AAAAAA;
    --mid-lighter: #DDDDDD;
    --very-light: #EEEEEE;
    --almost-white: #F9F9F9;
    --accent-yellow: #F1DD28;
    --accent-indigo: #2522B5;
}